.infos {
    display: flex;
    color: #fff;
    font-weight: bold;
    font-size: larger;
    width: 100%;
}

.buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 2vw;
}

.btn {
    display: block;
    background: #fff;
    border: none;
    padding: 1vh 1vw;
    border-radius: 20px;
    font-size: medium;
    color: #3a3a3a;
    font-weight: bold;
    text-align: center;
    border: #fff solid 2px;
    transition: all 0.2s ease-in-out;
    margin: 3vh 0;
}

.btn:hover {
    cursor: pointer;
    background: #3a3a3a;
    color:rgb(255, 251, 0);
}

#password img {
    width: 2vw;
}

#password {
    padding: .5vh .5vw;
    margin: 0;
}

.reveal {
    color: rgb(255, 251, 0);
    flex: 1;
}

.infoName {
    flex: 1;
}

.personnalInfos {
    width: 45vw;
    height: 40vh;
    margin: 5vh auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3a3a3a;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.write {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 2vw;
}



.mdp {
    width: 30%;
    height: 30%;
    padding: 1.2vh 0;
    font-size: 16px;
    color: rgb(255, 251, 0);
    margin-bottom: 3vh;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}


