@font-face {
    font-family: 'logo';
    src: url("../assets/font/Indiana-Jonas-48p.otf") format("opentype");
}

header {
    background-color: #3a3a3a;
    color: #fff;
    padding: 0;
}

.navBar {
    background: rgb(48, 48, 48);
    font-size: large;
    display: flex;
    flex-direction: row;
}

.navBar .center {
    flex: 1;
}

.navBar .left {
    font-family: logo;
    font-size: xx-large;
    padding: 1vh 0 0 1vw;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navBar li {
    display: inline-block;
}

.navBar a {
    color: #fff;
    text-decoration: none;
}

.navBar .center ul li a {
    display: block;
    transition: all 0.1s ease-in-out;
    padding: 2vh 2vw;
}

.navBar .right ul li a {
    display: block;
    transition: all 0.1s ease-in-out;
    padding: 1vh 1vw;
}

.navBar div ul li a:hover {
    color: rgb(255, 251, 0);
}

.logo {
    width: 5vw;
    height: 7vh;
    margin: 0 auto 1vh auto ;
    padding: .5vh;
}

.navBar div ul li .selection {
    color: rgb(255, 251, 0);
    font-weight: bold;
}

.basket {
    width: 2vw;
    height: 2vW;
}

.navBar .right {
    padding: 1vh 1vw;
}

.navBar .right a {
    padding: 1vh 1vw;
}

@media screen and (max-width:1000px) {
    .navBar {
        flex-direction: column;
        align-items: center;
    }

    .basket {
        width: 4vh;
        height: 4vh;
    }

    .logo {
        width: 12vw;
        height: 10vh;
    }
}

